<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="row">
    <div class="jumbotron block">
      <div class="content">
          <router-outlet></router-outlet>
      </div>
    </div>
    <div class="jumbotron block">
      <div class="content">
        <router-outlet name='wigetCollection'></router-outlet>
      </div>
    </div>
  </div>
  <div>
    Credit For Dynamic Robot Image Generation : <a href="https://robohash.org/">https://robohash.org/</a>
  </div>
</div>